@import url("../css/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --title-color: #48556A;
    --text-color: #6E8098;
}

body {
    font-family: 'Manrope', sans-serif;
    background: #ECF2F8;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 4.7rem 1.5rem 0;
    border-radius: 18px;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.50);
}

.product {
    width: 100%;
    /*clip-path: inset(0 0 18% 0); para cortar a imagem*/
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.title {
    color: var(--title-color);
    font-weight: 700;
    line-height: 1.5rem; /* 150% */
    letter-spacing: 0.0125rem;
    padding: 4rem 2rem .75rem 2rem;
}

.text {
    color: var(--text-color);
    font-size: 0.8125rem;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
    padding: 0 2rem 1.25rem 2rem;
}

.share {
    display: flex;
    padding: 0 0 1.25rem;
    align-items: center;
}

.author-photo {
    padding-left: 2rem;
}

.author-info {
    padding-left: 1rem;
}

.name-author {
    color: var(--title-color);
    font-weight: 700;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
}

.publication-date {
    color: var(--text-color);
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.00763rem;
    font-size: 0.8125rem;
}

#btn-share-options {
    position: relative;
    left: 3rem;
}

.container-shared {
    position: absolute;
    background: #48556A;
    display: flex;
    align-items: center;
    gap: 1.31rem;
    border-radius: 0 0 18px 18px;
    width: 80%;
    padding: 1.36rem 0 1.36rem 2rem;
    display: none;
}

.container-shared h3 {
    text-transform: uppercase;
    color: #9DAEC2;
    line-height: 1.25rem; /* 153.846% */
    letter-spacing: 0.3125rem;
    font-size: 0.8125rem;
}

#btn-sair {
    padding-left: 3.5rem;
}

@media (1220px <= width) {
    .container {
        margin-inline: 22rem;
        flex-direction: row;
        margin-top: 15%;
    }

    .product {
        width: 70%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 18px;
    }

    .title {
        padding-top: 2rem;
    }

    #btn-share-options {
        cursor: pointer;
    }

    .container-shared {
        width: 16%;
        border-radius: 0.625rem;
        padding: 1rem 0 1rem 2rem;
        right: 18rem;
        top: 22.5rem;
    }

    #btn-sair {
        display: none;
    }
}